/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital@0;1&family=Source+Serif+4:wght@600&display=swap');

/*Navbar.jsx*/
.navbar{
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 10vh;
  padding-bottom: 1vh;
  width: 60vw;
  
}
.navbar>.header{
  text-align:start;
  font-size: 6vh;
  font-family: Roboto; 
  font-style: italic;
  background: linear-gradient(135deg, #F86A4D 0%, #754FE8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar>.menu{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: auto;
  font-size: 2vh;
  font-family: Inter; 
  justify-content: space-around;
}
.navbar>.menu>.element{
  margin-left: 3vw;
  text-align: center;
  display: flex;
  justify-content: center;
}
/*Welcome*/
.welcome{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 10vh;
  padding-bottom: 1vh;
  width: 60vw;
  background: #F6F9F8;
  color:#1D2859;
}
.welcome>.introduction{
  font-size: 4vh;
}
.welcome>.definition{
  font-size: 7vh;
  font-family: Source Serif Pro; 
}
.welcome>.other{
  height: 30vh;
  border-left: #1D2859 3px solid;
}
/* Who we are*/
.whoweare{
  display: flex;
  flex-direction: column;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 10vh;
  padding-bottom: 1vh;
  width: 60vw;
  background: #1D2859;
  color:#F86A4D;
  font-size: 3vh;

}
.whoweare>.header{
  font-size: 6vh;
  margin-bottom: 5vh;
}
.whoweare>.context{
  width: 60vw;
  padding: 0;
  margin:0;
  margin-bottom: 5vh;

}
.whoweare>.more{
  margin-left: auto;
}
/*Release*/
.release{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 10vh;
  padding-bottom: 1vh;
  width: 60vw;
  background: #F6F9F8;
  color:#1D2859;
}
.release>.header{
  font-size: 6vh;
}
.release>.container{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 40vh 40vh 40vh;
  grid-gap: 10px;
}
/*ReleaseCard*/
.releaseCard{
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);  
  border-radius: 13.905px;
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 0px 10.429091453552246px 6.952727794647217px 0px rgba(0, 0, 0, 0.25);

  width: 25vw;
  height: 30vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  color: black;
  
  z-index: 9999;
  backdrop-filter: blur(5px); 
  color: #1D2859;
}
.releaseCard>.background {
  border-radius: 13.905px;

  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/src/assets/Rectangle9.png");
  background-size: cover;
  left: 0;
  top: 0;
  filter: blur(10px);
  z-index: -1;
  margin: 0;
  padding: 0;
  transition: filter 1s;
  
}
.releaseCard>.background:hover{
  filter: blur(2.5px);
}
.releaseCard>.profile{
  font-size: 2vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
  pointer-events: none;
}
.releaseCard>.experiment{
pointer-events: none;
font-size: 3vh;
margin-bottom: 2vh;

}
.releaseCard>.context{
pointer-events: none;
margin-bottom: 2vh;
font-size: 2vh;

}
.releaseCard>.more{
  pointer-events: none;
  font-size: 2vh;
  margin-left: auto;
  margin-top: auto;
}  

/*footer*/
.footer{
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 10vh;
  padding-bottom: 5vh;  
  display: flex;
  flex-direction: row;
}
.footer>.login{
  margin-left: auto;
}
/*OurTeam*/
.ourTeam{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 10vh;
  padding-bottom: 1vh;
  width: 60vw;
  color: #FBFDFF;
}
.ourTeam>.header{
  color: #F86A4D;
  font-size: 6vh;
}
.teamMember{
  display: flex;  
  flex-direction: column;
  width: 20vw;
}
.ourTeam>.container{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 60vh 60vh 60vh ;
  grid-gap: 20px;
}
.teamMember>img{
  width: 20vw;
  height: 40vh;
}
.teamMember>.name{
  font-size: 4vh;
}

/*Profile*/
.profilePage{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  padding-left: 5vw;
  padding-top: 10vh;
  padding-bottom: 1vh;
  width: 60vw;
  border-radius: 12px; 
}
.profilePage>.profileMain{
  display: flex;
  flex-direction: row;
}
.profilePage>.profileMain>.col1{
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.profilePage>.profileMain>.col2{
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.profilePage>.profileMain>.col2>img{
  width: 20vw;
  height: 40vh;
}
.profilePage>.profileMain>.col1>.name{
  font-size: 6vh;
}
.profilePage>.profileMain>.col1>.school{
  font-size: 3vh;
}
.profilePage>.profileAbout{
  margin-top: 10vh;
}
.profilePage>.profileAbout>span{
  font-size: 4vh;
}
.profilePage>.profileInterest{
  margin-top: 10vh;
}
.profilePage>.profileInterest>span{
  font-size: 4vh;
}
.profilePage>.profileRelease{
  margin-top: 10vh;
}
.profilePage>.profileRelease>span{
  font-size: 4vh;
}

/*ReleaseInfo*/
.releaseInfo{
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  padding-left: 5vw;
  margin-top:10vh ;
  padding-top: 3vh;
  padding-bottom: 1vh;
  width: 55vw;
  border-radius: 12px; 
  background-color: #754FE8;
}
.releaseInfo>.col1{
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.releaseInfo>.col1>.title{
  width: 25vw;
  font-size: 6vh;
  border-bottom: #0A054F solid 3px;
}

.releaseInfo>.col1>.context{
  font-size: 2vh;
  color: #FBFDFF;
}
.releaseInfo>.col2{
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.releaseInfo>.col2>img{
  width: 20vw;
  height: 40vh;
}
.releaseInfo>.col2>.more{
  margin-left: auto;
  margin-right: 3vw;
  margin-top: 5vh;
  font-size: 2vh;
  color: #FBFDFF;
}